*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  margin-top: 160px;
  padding: 0px 155px;
  height: 356px;
}

.block_1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.colum1 {
  display: block;
}

.colum1>img {
  width: 183px;
  height: 18px;
  margin-top: 10px;
}

.colum1>p{
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6B6B6B;
  margin-bottom: 40px;
  margin-top: 30px;
}

.social {
  width: 117px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.colum2 {
  display: block;
}

.colum2>h2 {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #313131;

}

.colum2>a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #6B6B6B;
  margin-bottom: 18px;
  display: block;
}


.colum3>h2 {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #313131;
}
.block_2{
  height: 101px;
  text-align: center;
}
.block_2>p{

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #6B6B6B;
  margin-bottom: 40px;
  margin-top: 30px;
}